.see-all-cards-button {
    width: 100%;
    height: 5em;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.7em;
}

.bank-item-title  {
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bank-item-title img {
    width: 10em;
    text-align: center;
}
