.credit-card-item {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.credit-card-item img {
    width: 100%;
    height: 100%;
}
